<p id="notice"><%= notice %></p>
<div class="row post-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @post.title %></h2>
    </div>
    <div class="panel-body">
      <div class='post-body'>
        <%= @post.body %>
      </div>
      <div class='well comments'>
       <!--<div class="container">-->
        <h4> Comments </h4>
        <ul class="list-group">
          <% @post.comments.each do |comment| %>
              <li class="list-group-item">
                <div class='comment'>
                  <div>
                    <small> 
                      Created <b><%= time_ago_in_words(comment.created_at)%></b> ago
                    </small>
                  </div>
                  <div>
                    <%= h(comment.body) %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
        <div class='add-comment'>
           <%= render 'comment_form' %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class='row'>
        <div class='col-md-6'>
          <%= link_to 'Edit', edit_post_path(@post) %>
        </div>
        <div class='col-md-6'>
           <%= link_to 'Back', posts_path %>
        </div>
      </div>
    </div>
  </div>
</div>
