<p id="notice"><%= notice %></p>
<div class="row post-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= @post.title %></h3>
      <small><i>Posted <%= time_ago_in_words(@post.created_at)%> ago</i></small>
    </div>
    <div class="panel-body">
      <div class='post-body'>
        <%= simple_format(@post.body) %>
      </div>
      <div class="alert alert-info like-panel">
          <%= button_to like_post_path(:id => @post.id), {remote: true, method: :get}, {class: 'btn btn-info btn-lg'} do%>
            <i class='ion-thumbsup'></i>
            <span class="badge like-count"><%= @post.like_count%></span>
          <% end %>
      </div>
      <div class='well'>
       <!--<div class="container">-->
        <h4> Comments </h4>
        <ul class="list-group" id='comments'>
          <%= render :partial => @post.comments.reverse %>
        </ul>
        <div class='add-comment'>
           <%= render 'comment_form' %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class='row'>
        <div class='col-md-3'>
          <%= link_to  posts_path do%>
            <i class='icon ion-arrow-left-c' data-toggle="tooltip" data-placement="top" title="Go back!" ></i>
          <% end %>
        </div>
        <div class='col-md-3'>
          <%= link_to  edit_post_path(@post) do%>
            <i class='icon ion-edit' data-toggle="tooltip" data-placement="top" title="Edit post!"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
