<p id="notice"><%= notice %></p>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @post.title %>
    </div>
    <div class="panel-body">
      <%= @post.body %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
      <%=  %>
    </div>
  </div>
</div>